/* 배경 */
body {display: flex; flex-direction: column; width: 100%; min-height: 100vh; justify-content: space-between;}
body::before {content: ""; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: url("../../common/images/bg-portal.svg") center/cover no-repeat; opacity: 0.3; z-index: -1;}
body::after {content: ""; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 1); z-index: -2;}

/* 아이콘 */
.menu__list i {width: 32px; height: 32px;}
.view__list-top .top-title i {width: 24px; height: 24px;}
.top-more i {width: 12px; height: 12px;}
.top-slide__btn i {width: 16px; height: 16px;}

/* 더보기 */
.top-more {display: flex; align-items: center; gap: 4px; font-size: 12px; font-weight: 500; color: #ffffff; cursor: pointer;}

/* 폰트 */
input, textarea, button, select {font-family: 'S-Core', sans-serif;}
.view-wrap, .alarm-wrap, .annc__notice-top, .annc__banner-top {font-family: 'Pretendard', sans-serif;}
.view-wrap p.tag {font-family: 'S-Core', sans-serif;}

/* 커서 */
body {cursor: default;}
.header__logo, .top-slide__btn i, .main-menu__item, .alarm__btn, .link-select-box, .user-detail p, .user-service, 
.search-box i, .head-info .title-wrap i, .wrap-alert-pop .icon-wrap li, .pop-close {cursor: pointer;}

/*********** 메인 ***********/
main {position: relative; display: flex; align-items: center; justify-content: center; gap: 16px; flex: 1; padding: 110px 0;}

/* 뷰 */
.view {width: auto;}

.view-list {display: flex; flex-direction: column; gap: 12px; padding: 10px; border-radius: 10px; background-color: rgba(255, 255, 255, 0.15);}
.view-list .view-list__item {display: flex; flex-direction: column; gap: 8px;}

.view-list__item .view__item-top {display: flex; align-items: center; justify-content: space-between;}
.view__item-top .top-title {padding-left:5px; box-sizing: border-box; display: flex; align-items: center; gap: 4px;}
.view__item-top .top-title i {cursor: default;}
.view__item-top .top-title strong {font-size: 16px; font-weight: 700; color: #009DFF; cursor: default;}

.view-list__item .view__item-grid {height: 106px; max-width: 1370px; overflow: hidden;}
.view__item-grid .grid-wrap {display: grid; grid-template-columns: repeat(3, 1fr); gap: 4px; height: 100%;}
.view__item-grid .grid-wrap .grid__item {display: flex; flex-direction: column; justify-content: center; gap: 20px; width: 340px; height: 100%; padding: 12px 10px; background-color: rgba(0, 0, 0, 0.3); box-sizing: border-box; cursor: pointer;}
.view__item-grid .grid-wrap .grid__item .item-info {display: flex; align-items: center; justify-content: space-between; color: #ffffff; font-size: 12px;}
.view__item-grid .grid-wrap .grid__item .item-info p.tag {padding: 5px; border-radius: 4px;}
.view__item-grid .grid-wrap .grid__item .item-info strong {color: rgba(255, 255, 255, 0.7); font-weight: 600;}
.view__item-grid .grid-wrap .grid__item .item-content {color: #ffffff; font-size: 15px; font-weight: 600;}
.view__item-grid .grid-wrap .grid__item .item-title {color: #ffffff; font-size: 15px; font-weight: 600;}
.view__item-grid .grid-wrap .grid__item .item-title p {margin-bottom: 4px;}

/* 공지사항 + 배너 */
.annc {display: flex; flex-direction: column; gap: 19px;}
.annc > div {display: flex; flex-direction: column; gap: 20px; width: 360px; border-radius: 10px; background-color: rgba(255, 255, 255, 0.1);}
.annc .annc-top {display: flex; align-items: center; justify-content: space-between; color: #ffffff;}
.annc .annc-top .top-title {font-size: 18px; font-weight: 600; cursor: default;}

/* 공지사항 */
.annc__notice {padding: 24px 24px 16px 24px;}

.annc__notice .annc__notice-list .notice-list__item {border-top: 1px solid rgba(203, 213, 225, 0.1); font-size: 11px; font-weight: 500; color: #ffffff;}
.annc__notice .annc__notice-list .notice-list__item:last-child {border-bottom: 1px solid rgba(203, 213, 225, 0.1);}
.annc__notice .annc__notice-list .notice-list__item a {height: 36px; display: flex; align-items: center; justify-content: space-between;}
.annc__notice .annc__notice-list .notice-list__item a .item-info {display: flex; align-items: center; gap: 4px; width: 75%;}
.annc__notice .annc__notice-list .notice-list__item a .item-info p.tag {display: inline-block; padding: 2px; border-radius: 3px; min-width: 40px;}

/* 배너 */
.annc__banner {padding: 24px;}
.annc__banner .annc-top .top-slide__btn {display: flex; align-items: center; gap: 4px;}
.annc__banner .annc-top .top-slide__btn i {background-color: rgba(255, 255, 255, 0.1); border-radius: 4px; transition: all 0.2s ease;}
.annc__banner .annc-top .top-slide__btn i:hover {background-color: rgba(255, 255, 255, 0.15);}
.annc__banner .annc-top .top-slide__btn i.next {transform: rotate(180deg);}

.annc__banner .annc__banner-content {overflow: hidden;}
.annc__banner .annc__banner-content .slide {display: flex; transition: all 0.4 ease; width: 100%;}
.annc__banner .annc__banner-content .slide .slide__list {flex: 0 0 100%; box-sizing: border-box; cursor: pointer;}
.annc__banner .annc__banner-content .slide .slide__list img {display: block; width: 100%; height: auto;}

/* 태그 */
p.tag {display: inline-flex; flex-shrink: 0; word-wrap: break-word; box-sizing: border-box; text-align: center; font-weight: 500; font-family: 'pretendard';}
p.tag.advisory-issue {background-color: #FFA115;}
p.tag.advisory-clear {background-color: #CDB89F;}
p.tag.alert-issue {background-color: #FF543D;}
p.tag.alert-clear {background-color: #AA9491;}
p.tag.dam-dcwtr {background-color: #0066FF;}
p.tag.bo-dcwtr {background-color: #37BCF8;}
p.tag.notice {background-color: #2976FF;}
p.tag.check {background-color: #A54747;}
p.tag.manual {background-color: #615B5B;}
.alarm__item-top p.tag {border: 1px solid #FFFFFF;}
.alarm__item-top p.tag.default {border: 1px solid #4F4F4F;}

/* 반응형 */
@media screen and (max-width: 1650px) {
  .view__item-grid .grid-wrap {display: grid; grid-template-columns: repeat(2, 1fr);}
  .view__item-grid .grid-wrap > *:nth-child(n + 3) {display: none;}
}
@media screen and (max-width: 1300px) {
  .view__item-grid .grid-wrap {display: grid; grid-template-columns: repeat(1, 1fr);}
  .view__item-grid .grid-wrap > *:nth-child(n + 2) {display: none;}
}
@media screen and (max-width: 950px) {
  main {flex-direction: column;}
  .annc > div {box-sizing: border-box;}
}
@media screen and (max-width: 650px) {
  footer {padding-bottom: 80px;}
}
@media screen and (max-width: 550px) {
  .menu {position: fixed; top: auto; bottom: 0; left: 0; transform: none; z-index: 1; width: 100%;}
  .menu-list {flex-direction: row; gap: 0; justify-content: space-around; border-radius: 0; background-color: rgba(0, 0, 0, 1);}
  .menu-list .menu__divider {display: none;}
}
@media screen and (max-width: 400px) {
  .view__item-grid .grid-wrap .grid__item {width: 300px;}
  .annc > div {width: 320px;}
}

